@import "tailwindcss";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: #111212;
    background: linear-gradient(180deg,rgba(17, 18, 18, 1) 40%, rgba(0, 58, 153, 1) 160%);
    box-sizing: border-box;
}
