---
import Layout from "../layouts/layout.astro";
import Logo from "../assets/JUWhite.png";

---

<Layout>
	<main class="container border border-[#343b47] rounded-md w-[90dvw] h-[90dvh] justify-center flex flex-col items-center mx-auto px-4 bg-[#111212]">	
		<img src={Logo.src} alt="logo" class="w-20 mt-10" />
		<h1 class="text-xl font-bold text-white mt-0">Test Venn Diagram</h1>
		<div class="mt-7">
			<a href="/game" class="text-white bg-[#003A99] px-4 py-2 rounded-md ">Jugar ahora</a>
		</div>
	</main>
</Layout>
